In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/crime_info_sample_of_10.csv')
df2 = pd.read_csv('../data/kc_house_data.csv')
df=df.rename(columns = {'house id':'id'})
df

,Unnamed: 0,id,number of crimes,Assault,Breaking & Entering,Drugs,Property Crime,Robbery,Theft,Theft from Vehicle,Theft of Vehicle
0,0,7129300520,408,32.0,131.0,11.0,85.0,6.0,39.0,54.0,50.0
1,1,6414100192,15,1.0,2.0,5.0,2.0,0.0,2.0,3.0,0.0
2,2,5631500400,121,10.0,20.0,7.0,36.0,1.0,21.0,21.0,5.0
3,3,2487200875,2,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
4,4,1954400510,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,7237550310,74,4.0,21.0,1.0,24.0,0.0,9.0,13.0,2.0
6,6,1321400060,3,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0
7,7,2008000270,2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
8,8,2414600126,4738,435.0,739.0,193.0,1230.0,150.0,801.0,531.0,659.0
9,9,3793500160,54,5.0,20.0,2.0,9.0,0.0,11.0,7.0,0.0

In [3]:
df['id']

0    7129300520
1    6414100192
2    5631500400
3    2487200875
4    1954400510
5    7237550310
6    1321400060
7    2008000270
8    2414600126
9    3793500160
Name: id, dtype: int64

In [4]:
x = pd.merge(df, df2, on='id', how='inner')
x.price.astype(int)
x

,Unnamed: 0,id,number of crimes,Assault,Breaking & Entering,Drugs,Property Crime,Robbery,Theft,Theft from Vehicle,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,408,32.0,131.0,11.0,85.0,6.0,39.0,54.0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,15,1.0,2.0,5.0,2.0,0.0,2.0,3.0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,121,10.0,20.0,7.0,36.0,1.0,21.0,21.0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,5,7237550310,74,4.0,21.0,1.0,24.0,0.0,9.0,13.0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,6,1321400060,3,0.0,0.0,0.0,0.0,0.0,2.0,1.0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,7,2008000270,2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,8,2414600126,4738,435.0,739.0,193.0,1230.0,150.0,801.0,531.0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,9,3793500160,54,5.0,20.0,2.0,9.0,0.0,11.0,7.0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [16]:
x.groupby(['price'])['number of crimes'].mean().plot()

In [5]:
x.to_csv('../data/merged_data_sample.csv')